In [1]:
def test():
    print("function topic started")

In [2]:
test()

function topic started

In [3]:
test() + "krishna"

function topic started

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [4]:
def test1():
    return "begining with function "

In [5]:
test1()+"krishna"

'begining with function krishna'

In [6]:
#variable declaration in same line
a,b=1,4

In [7]:
a

1

In [8]:
b

4

In [10]:
def test2():
    return "krishna" ,1

test2()

In [11]:
l=test2()

In [12]:
l

('krishna', 1)

In [15]:
#parameterize function
def test3(a,b,c):
    if a>b and a>c:
        return a
    elif b>c and b>a:
        return b
    else :
        return c

In [16]:
x=test3(1,2,3)
print(x)

3

In [26]:
l=[1,2,3,4,5,3.4,"krishna",[5,6,7,8]]
l1=[]
def intger(l):
    for i in l:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    l1.append(j)
        elif type(i) == int or type(i)==float:
            l1.append(i)
    return l1

In [27]:
l1

[]

In [28]:
intger(l)

[1, 2, 3, 4, 5, 3.4, 5, 6, 7, 8]

In [34]:
#making parameter dyanamic 
def dyn(*args):
    return args

In [35]:
dyn(1,2,3,4,5) #returning parameter directly

(1, 2, 3, 4, 5)

In [43]:
def dyns(*s):
    return sum(s)

In [44]:
dyn(for i in range(10))

SyntaxError: invalid syntax (909590030.py, line 1)

In [45]:
dyns(1,2,3,4) #giving sum of all the parameters

10

In [1]:
#for taking arguments in key value pair
def keyva(**kwargs):
    return kwargs

In [2]:
keyva

In [3]:
keyva()

{}

In [6]:
keyva(name='krishna',mobile=8949485644)

{'name': 'krishna', 'mobile': 8949485644}

In [7]:
#GENERATOR FUNCTION-->memory usage
def fibon(n):
    a,b=0,1
    for i in range(10):
        yield a #this is used for generator function a ki value de deta h ek baar m generate karne ki jgh request pe genrate karta h
        a,b=b,a+b

In [8]:
fibon(10)

In [9]:
for i in fibon(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [12]:
#another way to write the same thing in it
def fibo():
    a,b=0,1
    while True:
       yield a
       a,b=b,a+b

In [13]:
fib=fibo()

In [14]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [15]:
#use of next --> next wala data nikalna kaam h next ka
k="krishna"

In [25]:
next(k)

TypeError: 'str' object is not an iterator

In [17]:
#str object is not a iterator

In [18]:
k1=iter(k)

In [19]:
next(k1)

'k'

In [21]:
next(k1)

'r'

In [22]:
#for loop is also doing the same data iter m daal k next next kar rha h

In [23]:
 iter(45)

TypeError: 'int' object is not iterable

In [24]:
#int iterable bhi ni h na hi float,jo iterable h ose hi iterator m convert kar skte h

In [26]:
 #return ek baar data deta h yield baar baar data nikal deta h

In [27]:
#LAMBDA FUNCTION(or anonamous function) name ni dete function ko

In [28]:
n,p=2,3
def powe(n,p):
    return n**p

In [31]:
powe(n,p)

8

In [32]:
a = lambda n,p : n**p

In [33]:
a

In [34]:
a(2,3)

8

In [35]:
findin_max=lambda x,y: x if x>y else y

In [37]:
findin_max(4,3)

4