In [1]:
l=[1,2,3,4,5]
for i in l:
    print(i,end=" ")

1 2 3 4 5

In [3]:
l=["krishna","nand","joshi","dhruv","vij"]
for i in l:
    if i == "vij":
        break
    print(i,end=" ")

krishna nand joshi dhruv

In [4]:
#else after for loop will only run when it is completed(means all the iteration is runned or i has taken all the value of list,tuple,set or
# any sequece) if break is used then else will not run

In [6]:
l=["krishna","nand","joshi","dhruv","vij"]
for i in l:
    if i == "vij":
        break
    print(i,end=" ")
else :
    print("waiting.......")

krishna nand joshi dhruv

In [5]:
l=[1,2,3,4,5]
for i in l:
    print(i,end=" ")
else :
    print("for loop completed")

1 2 3 4 5 for loop completed

In [7]:
#use of continue --> skip the iteration of that loop ,don't execute the code after continue go to next interation

In [8]:
l=["krishna","nand","joshi","dhruv","vij"]
for i in l:
    if i == "dhruv":
        continue
    print(i,end=" ")
else :
    print("for loop completed")

krishna nand joshi vij for loop completed

In [9]:
#range function --> data ko layega excluding the upper bound

In [10]:
print(range(5))

range(0, 5)

In [11]:
list(range(5)) #data generated excluding 5

[0, 1, 2, 3, 4]

In [12]:
list(range(-3,5,1)) # startig point ,end point ,jump

[-3, -2, -1, 0, 1, 2, 3, 4]

In [13]:
#print even no.

In [14]:
a=int(input("enter the no. upto which u want to print even no."))
for i in range(0,a,2):
    print(i)

enter the no. upto which u want to print even no. 10

0
2
4
6
8

In [15]:
#reverse the element in a list

In [16]:
for i in l[::-1]:
    print(i,end=" ")

vij dhruv joshi nand krishna

In [21]:
#or
for i in range(len(l)):
    print(l[i],end=" ")

krishna nand joshi dhruv vij

In [25]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [27]:
for i in range(len(l)-1,-1,-1):
    print(l[i],end=" ")

vij dhruv joshi nand krishna

In [28]:
#extracting data from dictionary
d={'name':"krishna",'email':"knj@gmail.com"}
for i in list(d.keys()) :
    print(d[i],end=" ")

krishna knj@gmail.com

In [30]:
for i in d.items() :
    print(i)

('name', 'krishna')
('email', 'knj@gmail.com')

In [31]:
#WHILE LOOP

In [33]:
a=0
while a<=20:
    print(a,end=" ")
    a+=2

0 2 4 6 8 10 12 14 16 18 20

In [ ]:
#sum of natural number

In [1]:
a = int(input("start"))
b=1
num=0
while b <= a:
    num = num + b
    b = b + 1
print("sum id:" ,num)

start 10

sum id: 55

In [2]:
#factorial

In [1]:
a = int(input("enter the no."))
fact=1
while a > 0 :
    fact = fact * a
    a = a -1
print("factorial of a given no. is",fact)

enter the no. 6

factorial of a given no. is 720

In [2]:
#fibbo series

In [4]:
a = int(input("enter the no."))
b=0
c=1
x=0
while b < a:
    print(b,end=" ")
    x=b
    b = b + c
    c=x

enter the no. 25

0 1 1 2 3 5 8 13 21

In [5]:
#generate the table of any no.

In [7]:
a = int(input("enter the no."))
x = a
while x <= a*10:
    print(x,end=" ")
    x=x+a

enter the no. 19

19 38 57 76 95 114 133 152 171 190

In [2]:
a = int(input("enter the no."))
i = 1
while i <= 10:
    print(a,"*",i,"=",a*i)
    i=i+1

enter the no. 21

21 * 1 = 21
21 * 2 = 42
21 * 3 = 63
21 * 4 = 84
21 * 5 = 105
21 * 6 = 126
21 * 7 = 147
21 * 8 = 168
21 * 9 = 189
21 * 10 = 210

#comprehension

In [3]:
#square of a no. of a list on another list

In [4]:
l=[1,2,3,4,5,6,7]
l1=[]

In [5]:
for i in l:
    l1.append(i**2)
l1

[1, 4, 9, 16, 25, 36, 49]

In [6]:
#directly by comprehension
[i**2 for i in l]

[1, 4, 9, 16, 25, 36, 49]

In [8]:
[i for i in l if i%2==0]

[2, 4, 6]

In [9]:
 #tuple comprehension-->generates generator function

In [12]:
tuple(i**2 for i in l)

(1, 4, 9, 16, 25, 36, 49)